#jinja2: lstrip_blocks: True
# ######### Sending Messages to Remote Hosts ##########

# Remote Logging using TCP for reliable delivery

{% if k1599_integration_test is not defined %}
# Set TLS options
#$ActionSendStreamDriverAuthMode anon
$ActionSendStreamDriverAuthMode x509/certvalid
#$ActionSendStreamDriverAuthMode x509/name
#$ActionSendStreamDriverPermittedPeer FileNord
#$ActionSendStreamDriverPermittedPeer fileserver.mueller-backwaren.de
$ActionSendStreamDriverMode 1 # run driver in TLS-only mode
{% endif %}

{% if k1599_rsyslog_group in groups %}
  {% for host in groups[k1599_rsyslog_group] %}
    {% set destination_addr = hostvars[host].ansible_host %}

## Setup Sending Messages to {{ host }} ##

# Setup memory based queue
$ActionQueueType LinkedList
$ActionQueueTimeoutEnqueue 500

# Setup disk assistance for the memory queue
$WorkDirectory /var/lib/rsyslog
$ActionQueueFileName {{ host.replace('.','_') }}
$ActionQueueSize 10000
$ActionQueueHighWatermark 6000
$ActionQueueLowWatermark 2000

# Limit the disk cache to avoid stalled server.
$ActionQueueMaxDiskSpace 5G

# Discard all Notice messages and above if the Memory Queue reaches
# a count of 8000 messages
$ActionQueueDiscardMark 8000
$ActionQueueDiscardSeverity 5

# Don't drop messages if the server is not available
$ActionResumeRetryCount -1

# Save in memory data to disk before shutdown
$ActionQueueSaveOnShutdown on

*.* @@{{ destination_addr}}:{{ k1599_rsyslog_port }}

  {% endfor %}
{% endif %}
