*site.retry
*.vault-password
*.sw?
*.aux
*~
*#
*.bak
.bundle
wiki.txt
*.pyc
scripts/users/yaml/*.yml
scripts/users/data/*.csv
scripts/users/mail/*
docs/*.aux
docs/*.bcf
docs/*.bbl
docs/*.bbg
docs/*.blg
docs/*.glo
docs/*.ist
docs/*.toc
docs/*.out
docs/*.fls
docs/*.fdb*
docs/*.gz
docs/texmf/*ls-R
*.log
docs/*.run.xml
Projektdokumentation.aux
Projektdokumentation.synctex.gz
