Sehr geehrte(r) KursteilnehmerIn,

auf den Servern der FileNord und FileSued wurden zwei Benutzer fuer Sie
angelegt. Hierbei handelt es sich zum einen um einen personalisierten Benutzer
fuer Sie und zum anderen um einen Benutzer fuer ihre Gruppe.


Persoenlicher Benutzer:

  name: {{ user_name }}
  password: {{ user_password }}

Gruppen Benutzer:

  name: {{ group_name }}
  password: {{ group_password }}

Bitte gehen Sie mit diesen Daten sorgsam um, da insbesondere das Passwort des
persoenlichen Benutzers nur Ihnen mitgeteilt wird.

Weitere Informationen folgen in seperaten Benachrichtigungen.

Mit freundlichen Grueßen
Gruppe FileNord und Gruppe FileSued
