Sehr geehrte(r) KursteilnehmerIn,

auf den Servern der FileNord und FileSued wurden zwei Benutzer für Sie
angelegt. Hierbei handelt es sich zum einen um einen personalisierten Benutzer
für Sie und zum anderen um einen Benutzer für ihre Gruppe.


Persönlicher Benutzer:

  name: {{ user_name }}
  password: {{ user_password }}

Gruppen Benutzer:

  name: {{ group_name }}
  password: {{ group_password }}

Bitte gehen Sie mit diesen Daten sorgsam um, da insbesondere das Passwort des
persönlichen Benutzers nur Ihnen mitgeteilt wird.

Weitere Informationen folgen in seperaten Benachrichtigungen.

Mit freundlichen Grüßen
Gruppe FileNord und Gruppe FileSued
