Sehr geehrte(r) KursteilnehmerIn,

aufgrund eines Missverstaendnisses war die Zuordnung der Gruppen und
Gruppenbenutzer teilweise nicht richtig. Das haben wir korrigiert und uns dazu
entschlossen die Passwoerter zu aktualisieren.

Bitte benutzen Sie zukuenftig, fuer den Zugriff auf die Fileserver der Gruppe
Nord und Sued, neben ihrem persoenlichen Account den folgenden Gruppenbenutzer:


Gruppen Benutzer:

  name: {{ group_name }}
  password: {{ group_password }}

Die persoenlichen Zugangsdaten bleiben unveraendert.

Viel Erfolg
Gruppe FileNord und Gruppe FileSued
