# Templates to handle different logfiles based on hostname of the sender
$template PerHostAuth,          "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/auth.log"
$template PerHostCron,          "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/cron.log"
$template PerHostSyslog,        "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/syslog"
$template PerHostDaemon,        "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/daemon.log"
$template PerHostKern,          "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/kern.log"
$template PerHostLpr,           "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/lpr.log"
$template PerHostUser,          "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/user.log"
$template PerHostMail,          "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/mail"
$template PerHostMailInfo,      "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/mail.info"
$template PerHostMailWarn,      "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/mail.warn"
$template PerHostMailErr,       "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/mail.err"
$template PerHostNewsCrit,      "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/news.crit"
$template PerHostNewsErr,       "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/news.err"
$template PerHostNewsNotice,    "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/news.notice"
$template PerHostDebug,         "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/debug"
$template PerHostMessages,      "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/messages"
$template PerHostWarn,          "{{ k1599_rsyslog_destination_folder }}/%fromhost-ip%/warn"
